<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>

        #ac{

           margin-top:30px;
           margin-bottom:10px;
           margin-left:100px;
           margin-right:100px;
           text-align:center;
           color:black;
           }

        #ab{
            height:100px;
           width:200px;
           border:1px solid;
           color:black;
        }
       #pq{

       height:70px;
       width:300px;
       border:1px solid;
       margin-top:50px;
       color:black;


       }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static 'book10 (3).jpg' %}">


{% include 'header.html' %}
<table align="center" id="ab">

<div class="container"  id="pq" >
<h1 align="center">ADD BOOKS</h1>
<form method="POST" enctype="multipart/form-data" id="ac">{% csrf_token %}
    <tr><td><label>Book Name</label></td></tr>
    <tr><td><input type="text" name="bname" ></td></tr>
    <tr><td><label>Book Price</label></td></tr>
  <tr> <td> <input type="number" name="bprice"></td></tr>
    <tr><td><label>Book Details</label></td></tr>
    <tr><td><textarea name="des" rows="5"></textarea></td></tr>
    <tr><td><label>Book Image</label></td></tr>
   <tr><td> <input type="file" name="image"></td></tr>
   <tr><td> <input type="submit"></td></tr>
</form>
    </div>
    </table>
{% include 'footer.html' %}
</body>
</html>
